<!-- Botones para los filtros de búsqueda -->
<mat-card id="topBar">
  <mat-card-content id="barBtn">
    <mat-form-field appearance="outline" class="search-input">
      <input
        matInput
        placeholder="Buscar eventos"
        [(ngModel)]="terminoBusqueda"
        (input)="realizarBusqueda()"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<div>

  <div class="example-card" *ngFor="let resultado of resultadosBusqueda"  >
    <div *ngIf="resultadosBusqueda.length > 0">
      <mat-card>
      <mat-card-header>
        <mat-card-title>{{ resultado.nomEvento }}</mat-card-title>
        <mat-card-subtitle
          >Fecha: {{ resultado.fecha | date : "yyyy-MM-dd" }}</mat-card-subtitle
        >
      </mat-card-header>
        <mat-card-content>
          <p>Ciudad: {{ resultado.ubicacion }}</p>
          <p>Descripción: {{ resultado.detalles }}</p>
          <p>
            Cantidad de lugares:
            {{ resultado.cantBoletos < 0 ? 0 : resultado.cantBoletos }}
          </p>
          <p>Costo: ${{ resultado.costo }}</p>
            <img
              id="imagen"
              [src]="resultado.imagen"
              alt="Evento Image"
              *ngIf="resultado.imagen"
            />
          <mat-form-field class="example-ripple-form-field">
            <mat-label>Cantidad</mat-label>
            <input matInput [(ngModel)]="resultado.numEven" type="number" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <!-- Botón Paypal -->
          <button
            id="btnTodos"
            mat-raised-button
            color="primary"
            [disabled]="resultado.cantBoletos <= 0"
            (click)=" comparEventos(resultado.idEvento, resultado.numEven, resultado.cantBoletos)"
          >
            Comprar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- Cards para los eventos creados -->
  <div class="example-card" *ngFor="let evento of eventos">
    <div *ngIf="resultadosBusqueda.length <= 0">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ evento.nomEvento }}</mat-card-title>
          <mat-card-subtitle
            >Fecha: {{ evento.fecha | date : "yyyy-MM-dd" }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <p>Ciudad: {{ evento.ubicacion }}</p>
          <p>Descripción: {{ evento.detalles }}</p>
          <p>
            Cantidad de lugares:
            {{ evento.cantBoletos < 0 ? 0 : evento.cantBoletos }}
          </p>
          <p>Costo: ${{ evento.costo }}</p>
          <img
            id="imagen"
            [src]="evento.imagen"
            alt="Evento Image"
            *ngIf="evento.imagen"
          />
          <mat-form-field class="example-ripple-form-field">
            <mat-label>Cantidad</mat-label>
            <input matInput [(ngModel)]="evento.numEven" type="number" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <!-- Botón Paypal -->
          <button
            id="btnTodos"
            mat-raised-button
            color="primary"
            [disabled]="evento.cantBoletos <= 0"
            (click)="
              comparEventos(evento.idEvento, evento.numEven, evento.cantBoletos)
            "
          >
            Comprar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
