
<mat-grid-list cols="2" rowHeight="600px" rowWidth="fit">
    <mat-grid-tile>
       <p id="tituloInicio" class="animate__animated animate__backInLeft">Even <br><br><br><br><br><br><br>Tick <br><br><br><br><br><br><br>Now</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <div id="contenedorPrincipal">
        <h3 id="txtComplementario" class="animate__animated animate__backInRight">Dentro de EventickNow podrás encontrar los <br><br>eventos más relevantes de entretenimiendo <br><br>además la oportunidad de que si no encuentras <br><br>alguno de 
          tu agrado puedes de crear tú <br><br> ¡propio evento!
        </h3> 
        <h3>

        </h3> 
      </div>
        
    </mat-grid-tile>
    
</mat-grid-list>