  <div class="w-100">
    <!-- Cards para los eventos creados -->
    <div>
      <mat-card class="custom-card-width">
        <mat-card-header class="mat-card-header">
          <mat-card-title>Selecciona el botón para activar tu cuenta</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <button class="mat-raised mat-card-actions" mat-button (click)="redireccionar()" >Confirmar cuenta</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>