
<mat-grid-list cols="1" rowHeight="100%" class="fondo">
    <mat-grid-tile cols="2">
      <mat-card [class.mat-elevation-z8]="true">
        <mat-card-content id="matForm">
          <h2 id="title"> Iniciar Sesión</h2>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
  
            <!-- CORREO ELECTRONICO -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Correo electronico</mat-label>
              <input type="email" formControlName="correoElectronico" matInput />
              <mat-error
                *ngIf="baseForm.isValidField(loginForm.get('correoElectronico'))"
              >
                {{ baseForm.getErrorMessage(loginForm.get("correoElectronico")) }}
              </mat-error>
            </mat-form-field>
            
            <!-- CONTRASEÑA -->
            <mat-form-field class="full-width" appearance="outline" >
              <mat-label>Contraseña</mat-label>
              <input
                [type]="'password'"
                formControlName="password"
                matInput  
              />
              <mat-error
                *ngIf="baseForm.isValidField(loginForm.get('password'))"
              >
                {{ baseForm.getErrorMessage(loginForm.get("password")) }}
              </mat-error>
            </mat-form-field>

              <!-- CAPTCHA -->
  
            <button
              type="submit"
              mat-raised-button
              color="primary"
              id="btn"
              [disabled]="!loginForm.valid"
            >
              Iniciar Sesión
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
