#btnTodos{
    margin-right: 10px;
}

#barBtn{
    padding: 10px 20px;
    padding-bottom: 16px;
    margin-left: auto;
}

#imagen{
    width: 300px;
    border-radius: 3px;
    text-align: center;
}
#topBar{
    margin-top: 30px;
}
.example-card{
    margin-top: 30px;
    margin-left: 180px;
    width: 600px;
}
#matH{
    padding-top: 50px;
}