label{
    color: white;
}
p{
    color: white;
}
h3{
    color:white;
}


.form{
    text-align: center;  
}
.encabezado{
    padding-top: 30px;
    text-align: center;
    
}

#tituloInicio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #8437D3;
    font-size: 150px;
    padding: 6px;
    
}

#contenedorPrincipal{
    width: auto;
    text-align: justify;
    padding-top: 80px;
   
}

#txtComplementario{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

